// Custome Fonts
@font-face {
  font-family: 'OCR A Extended', monospace;
  src: url(/dist/fonts/ocraext.ttf);
}

// Google Fonts

// Font Variables
$font-primary: 'OCR A Extended', monospace;

// Styles
body {
  font-family: $font-primary;
  font-size: 1.6rem;
  color: $clr-primary;
  background-color: $bg-primary;
}

section {

  .about,
  .contact {

    &__title {
      font-size: 5rem;
      color: $clr-blue;
    }

    &__text-box {
      line-height: 1.6;
    }
  }
}

